* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
}

a {
  color: #84cda2;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #84cda2;
}
